body {
    background: linear-gradient(135deg, #1e1e1e, #18ab1e);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    background: #000000;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1.2s ease-in-out;
    border: 2px solid #1e1e1e; /* Bordes para más estilo */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.login-container h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra para el título */
}

.form-control {
    margin-bottom: 15px;
    border: 2px solid #1e1e1e; /* Bordes de entrada */
    border-radius: 10px;
    padding: 10px;
    transition: border-color 0.3s;
}

    .form-control:focus {
        border-color: #18ab1e; /* Color al enfocar */
        outline: none;
    }

.btn-custom {
    background-color: #1e1e1e;
    border: none;
    color: white;
    padding: 12px 20px; /* Mayor padding */
    border-radius: 50px;
    width: 100%;
    font-weight: bold; /* Texto más grueso */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones mejoradas */
}

    .btn-custom:hover {
        background-color: #18ab1e;
        transform: translateY(-2px); /* Efecto de elevar el botón al pasar el ratón */
    }

.footer-text {
    margin-top: 15px;
    color: #999;
    font-size: 0.9em; /* Ajuste de tamaño de texto */
}
